<h1>Produtos</h1>
<table class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
            <th>Descrição</th>
            <th class="text-center">
                <a [routerLink]="['/produtos/novo']" href="#" title="Novo" alt="Novo" class="btn btn-xs btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> Novo
                </a>
            </th>
        </tr>
        <tr *ngFor="let produto of produtos">
            <td>{{ produto.descricao }}</td>
            <td class="text-center" style="width: 300px">
                <a [routerLink]="['/produtos/editar/',produto.id]" href="#" title="Editar" alt="Editar" class="btn btn-xs btn-info">
                    <i class="fa fa-edit" aria-hidden="true"></i> Editar
                </a>&nbsp;
                <a (click)="remover($event, produto)" href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger">
                    <i class="fa fa-times" aria-hidden="true"></i> Remover
                </a>
            </td>
        </tr>
        <tr>
            <th>Total de Produtos</th>
            <th class='center'> {{totalProdutos}} </th>
        </tr>
    </tbody>
</table>
<p *ngIf="!produtos">Nenhum produto cadastrado.</p>