<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="pointer" class="navbar-brand">Loja</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a class="pointer" routerLink="/recipes">Cliente</a></li>
                <li routerLinkActive="active"><a class="pointer" routerLink="/auth">Produto</a></li>
                <li routerLinkActive="active"><a class="pointer" routerLink="/auth">Pedido</a></li>
            </ul>
        </div>
    </div>
</nav>